.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  width: 80%;
}

.playlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  background: black;
  margin: 10px;
  -webkit-box-shadow: -1px 2px 5px 4px rgba(29, 185, 84, 0.21);
  -moz-box-shadow: -1px 2px 5px 4px rgba(29, 185, 84, 0.21);
  box-shadow: -1px 2px 5px 4px rgba(29, 185, 84, 0.21);
}
