body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f0f0f;
  min-height: 100%;
  padding-bottom: 90px;
  text-align: center;
  color: white;
}

.main {
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: white;
}

#login_button {
  color: #1db954;
}

#login_button,
#view_playlists_text {
  font-size: 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
